.about{
    background-color: rgb(13, 29, 41);
}
@media only screen and (max-width: 768px) {
    .a-content {
        flex-direction: column;
        padding: 20px;
    }
    .connect-at {
        flex-direction: column;
        width: 100%;
    }
    .connect-at a {
        letter-spacing: 1px;
    }
}

@media only screen and (max-width: 600px) {
    .a-content {
        padding: 0;
        padding: 90px 0;
    }
    .a-title {
        font-size: 30px;
    }
    .connect-at {
        flex-direction: row;
        align-items: center;
        width: 90%;
    }
    .connect-at .connect-icon svg {
        width: 1rem;
        height: 1rem;
    }
    .a-sub {
        font-size: 20px;
    }
    .a-desc {
        font-size: 14px;
    }
    .connect-at a {
        letter-spacing: 0;
        font-size: 14px;
        word-wrap: break-word;
    }
}